.col-md-3 img {
    width: 105px;
    height: 100px;
}
.service-single-assets {
    transition: all 0.5s;
}
.service-single-assets:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
